@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

.container {
  max-width: 1200px;
}

/* Стилизация select (jquery-ui) */
.ui-selectmenu-button.ui-button {
  width: 100%;
  border-radius: 0;
  border: 2px solid #5f7fb3;
  background: #fff;
  padding-left: 22px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 46px;
  padding-right: 44px;
  position: relative;
}

.ui-selectmenu-button.ui-button::after {
  font-family: "FontAwesome";
  content: "\f078";
  font-size: 9px;
  color: #222222;
  position: absolute;
  right: 9px;
  top: -1px;
}

.ui-selectmenu-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #222222;
}

.ui-button .ui-icon {
  display: none;
}

.ui-state-disabled {
  display: none;
}

.ui-button:active {
  color: #222222;
}

.ui-selectmenu-button.ui-button:focus {
  outline: none;
}

.p-stockslider .owl-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #f1f1f1 !important;
  background-color: #d6d6d6 !important;
  position: absolute;
  left: -120px;
  top: 50%;
  margin-top: -30px;
  z-index: 99;
}

.p-stockslider .owl-prev span {
  display: none;
}

.p-stockslider .owl-prev::after {
  content: '←';
  position: absolute;
  left: 0;
  font-size: 30px;
  color: #000000;
  right: 0;
  top: 4px;
}

.p-stockslider .owl-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #f1f1f1 !important;
  background-color: #d6d6d6 !important;
  position: absolute;
  right: -120px;
  top: 50%;
  margin-top: -30px;
  z-index: 99;
}

.p-stockslider .owl-next span {
  display: none;
}

.p-stockslider .owl-next::after {
  content: '→';
  position: absolute;
  font-size: 30px;
  color: #000000;
  left: 0;
  right: 0;
  top: 4px;
}

.p-stockslider .owl-nav button:hover {
  border-color: #7899cf !important;
  background-color: #2c579c !important;
}

.p-stockslider .owl-nav button:hover::after {
  color: #ffffff !important;
}

.fancybox-button {
  background-image: url(../img/icons/modal-close.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox-button svg {
  display: none;
}

.ui-widget.ui-widget-content {
  border-top: 1px solid #c9c9c9;
  border-left: 2px solid #5f7fb3;
  border-right: 2px solid #5f7fb3;
  border-bottom: 2px solid #5f7fb3;
  max-height: 251px;
  overflow-y: auto;
  margin: -3px 0 0 0;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 9px 22px;
  font-size: 14px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border-color: #5f7fb3;
  background-color: #5f7fb3;
  color: #ffffff;
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

.header-fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header__h-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.page__top {
  height: 100vh;
  background-image: url(../img/index-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.page__top::after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.81);
  z-index: 1;
  position: absolute;
}

.page__p-price {
  position: relative;
  z-index: 2;
  padding-top: 129px;
}

.page__p-advantages {
  position: relative;
  z-index: 2;
  padding-bottom: 106px;
  margin-top: 50px;
}

.page__topline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #2c579c;
  padding-top: 28px;
  padding-bottom: 28px;
}

.page__p-online-left {
  margin-right: -30px;
}

.page__p-online-right {
  margin-left: 30px;
}

.page__section-white {
  padding-top: 95px;
  background-color: #ffffff;
  padding-bottom: 110px;
}

.page__section-gray {
  background-color: #f9f9f9;
  padding-top: 80px;
  padding-bottom: 90px;
}

.page__section-choose {
  padding-bottom: 36px;
}

.page__section-bg {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding-top: 78px;
  padding-bottom: 108px;
}

.page__section-blue {
  background-color: #2c579c;
  padding-top: 62px;
  padding-bottom: 114px;
}

.page__section-blue .p-title {
  color: #ffffff;
}

.page__section-blue .p-title b {
  color: #00c8fb;
}

.page__section-blue .page__p-online-left {
  margin-right: 30px;
}

.page__section-blue .page__p-online-right {
  margin-left: 30px;
}

.page__section-news {
  padding: 50px 0;
}

.page__section-join {
  padding: 30px 0;
}

.page__p-title {
  text-align: center;
  padding-bottom: 62px;
}

.page__p-choose {
  padding-bottom: 74px;
}

.page__p-model {
  width: 100%;
  margin-bottom: -80px;
}

.page__p-read {
  background-color: #ffffff;
  padding: 38px 30px;
  border: 1px solid #f0f0f0;
}

.page__p-news {
  padding-right: 30px;
}

.page__p-join {
  text-align: center;
  display: block;
  position: relative;
}

.page__p-join::after {
  content: '';
  width: 1px;
  height: 49px;
  background-color: #dcdcdc;
  display: block;
  position: absolute;
  right: -15.5px;
  top: -3px;
}

.page__p-your {
  text-align: center;
  display: block;
}

.footer {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 70px;
  padding-bottom: 47px;
}

.footer::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 1;
}

.footer .container {
  position: relative;
  z-index: 2;
}

.footer__f-menu {
  padding-top: 60px;
}

.footer__f-addr {
  padding-top: 60px;
}

.footer__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
  letter-spacing: .3px;
  margin-bottom: 25px;
  display: block;
}

.footer__f-copy {
  padding-top: 75px;
  text-align: left;
}

.footer__f-pol {
  padding-top: 75px;
  text-align: right;
}

/*Компоненты*/
.h-logo {
  display: inline-block;
}

.h-logo__img {
  display: block;
  height: 94px;
  width: auto;
}

.h-nav {
  font-size: 0;
}

.h-nav__item {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}

.h-nav__item:first-child {
  margin-left: 0;
}

.h-nav__item:hover .h-nav__link {
  color: #2c579c;
  text-decoration: none;
}

.h-nav__link {
  display: block;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.h-nav__link:hover {
  color: #2c579c;
  text-decoration: none;
}

.h-nav__submenu {
  background-color: #5a7aad;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 4, 7, 0.34);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0, 4, 7, 0.34);
  box-shadow: 0px 5px 7px 0px rgba(0, 4, 7, 0.34);
  width: 284px;
  padding: 1px 0;
  position: relative;
}

.h-nav__submenu::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 5px 7.5px;
  border-color: transparent transparent #5a7aad transparent;
  position: absolute;
  top: -5px;
  left: 31px;
}

.h-nav__submenu-wp {
  padding-top: 13px;
  position: absolute;
  top: 100%;
  left: -18px;
  z-index: 20;
  display: none;
}

.h-nav__subitem {
  padding: 0 18px;
  position: relative;
}

.h-nav__subitem:hover {
  background-color: #4abf52;
}

.h-nav__subitem:hover::after {
  content: '';
  height: 1px;
  background-color: #4abf52;
  left: 0;
  right: 0;
  top: -1px;
  display: block;
  position: absolute;
}

.h-nav__subitem:hover .h-nav__sublink {
  color: #ffffff;
  text-decoration: none;
  border-color: transparent;
}

.h-nav__subitem:last-child .h-nav__sublink {
  border-bottom: none;
}

.h-nav__sublink {
  color: #ffffff;
  font-size: 14px;
  display: block;
  line-height: 20px;
  padding: 12px 0;
  border-bottom: 1px solid #c9c9c9;
}

.h-callback {
  text-align: center;
}

.h-callback__phone {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 20px;
  padding-left: 36px;
  background-image: url(../img/icons/header-phone.png);
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: auto 12px;
  background-size: auto 12px;
  display: inline-block;
  margin-bottom: 8px;
}

.h-callback__phone:hover {
  text-decoration: none;
  color: #000000;
}

.h-callback__btn {
  display: block;
  height: 44px;
  width: 208px;
  border-radius: 20px;
  background-color: #2c579c;
  border: 3px solid #4070be;
  color: #ffffff;
  font-size: 11px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.h-callback__btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #2c579c;
}

.p-price__title {
  font-size: 40px;
  font-weight: bold;
  color: #222222;
  letter-spacing: .3px;
  display: block;
  text-align: center;
  margin-bottom: 22px;
}

.p-price__form {
  padding: 28px 36px 34px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(22, 50, 99, 0.33);
  -moz-box-shadow: 0px 5px 18px 0px rgba(22, 50, 99, 0.33);
  box-shadow: 0px 5px 18px 0px rgba(22, 50, 99, 0.33);
  position: relative;
}

.p-price__form::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-image: url(../img/icons/left-ugl.png);
  z-index: 1;
}

.p-price__form::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-image: url(../img/icons/right-ugl.png);
  z-index: 1;
}

.p-price__form .row {
  margin-left: -4px;
  margin-right: -4px;
}

.p-price__form .col-lg-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-price__info {
  font-size: 17px;
  color: #222222;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-bottom: 18px;
}

.p-price__button {
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid #e1eaf4;
  background-color: #e1eaf4;
  line-height: 46px;
  text-transform: uppercase;
  font-size: 11px;
  color: #222222;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
}

.p-price__button:hover {
  text-decoration: none;
  color: #222222;
  background-color: transparent;
}

.p-advantages {
  display: flex;
  justify-content: space-between;
}

.p-advantages__item {
  padding-left: 70px;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.p-advantages__icon {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #5a7aad;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 50%;
  margin-top: -30px;
}

.p-advantages__description {
  color: #222222;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .3px;
  font-weight: 500;
  text-transform: uppercase;
}

.p-advantages__description b {
  font-weight: 900;
  color: #2c579c;
}

.p-online {
  position: relative;
}

.p-online__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-online__info {
  display: block;
  text-align: right;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 500;
}

.p-online__info span {
  font-weight: 900;
  color: #00c8fb;
}

.p-online__input {
  max-width: 208px;
  width: 100%;
  height: 50px;
  line-height: 46px;
  border: 2px solid #fff;
  border-radius: 22px;
  background-color: #ffffff;
  padding: 0 28px;
  text-align: left;
}

.p-online__input::-webkit-input-placeholder {
  color: #222222;
}

.p-online__input::-moz-placeholder {
  color: #222222;
}

.p-online__input:-moz-placeholder {
  color: #222222;
}

.p-online__input:-ms-input-placeholder {
  color: #222222;
}

.p-online__button {
  max-width: 208px;
  width: 100%;
  height: 50px;
  line-height: 48px;
  border: 2px solid #4abf52;
  background-color: #4abf52;
  border-radius: 22px;
  text-align: center;
  padding: 0 28px;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 900;
  cursor: pointer;
}

.p-online__button:hover {
  background-color: transparent;
  color: #4abf52;
}

.p-online__consent {
  position: absolute;
  bottom: -24px;
  right: 0;
}

.p-online__consent label {
  color: #ffffff;
  font-size: 13px;
  line-height: 17px;
  display: block;
  padding-left: 22px;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.p-online__consent label::before {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 2px;
}

.p-online__consent input {
  display: none;
}

.p-online__consent input:checked + label:before {
  background-image: url(../img/icons/check.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.p-online__subtitle {
  font-size: 17px;
  color: #ffffff;
  display: block;
  padding-bottom: 24px;
}

.p-online__row {
  padding-bottom: 35px;
}

.p-online__row::before {
  content: '';
  display: table;
}

.p-online__row::after {
  content: '';
  display: table;
  clear: both;
}

.p-online__time {
  margin-left: 75px;
}

.p-online__icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-online__icon .fa {
  font-size: 16px;
  color: #00c8fb;
}

.p-online__text {
  position: relative;
  padding-left: 46px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: .3px;
  float: left;
}

.p-title {
  display: inline-block;
  color: #222222;
  font-size: 27px;
}

.p-title b {
  font-weight: bold;
  color: #2c579c;
}

.p-stockslider .owl-nav {
  display: block !important;
}

.p-stockslider__wrapper {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 315px;
  position: relative;
  width: 100%;
}

.p-stockslider__wrapper::after {
  content: '';
  background: -moz-linear-gradient(-45deg, black 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(-45deg, black 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(135deg, black 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
  width: 100%;
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  left: 0;
  z-index: 1;
}

.p-stockslider__description {
  position: absolute;
  left: 36px;
  top: 0;
  bottom: 0;
  padding-bottom: 30px;
  padding-top: 34px;
  z-index: 2;
  width: 160px;
  display: block;
}

.p-stockslider__title {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: .3px;
  margin-bottom: 22px;
  height: 108px;
  overflow: hidden;
}

.p-stockslider__title span {
  color: #06bbef;
  font-size: 23px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .3px;
}

.p-stockslider__row {
  margin-bottom: 44px;
}

.p-stockslider__oldprice {
  color: #ffffff;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: .3px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.p-stockslider__oldprice::after {
  content: '';
  display: block;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -.5px;
}

.p-stockslider__newprice {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: .3px;
  display: inline-block;
}

.p-stockslider__btn {
  height: 50px;
  border: 2px solid #2c579c;
  width: 150px;
  line-height: 48px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #fefefe;
  background-color: #2c579c;
  display: block;
  font-weight: 900;
  border-radius: 22px;
}

.p-stockslider__btn:hover {
  text-decoration: none;
  color: #2c579c;
  font-weight: 900;
  background-color: transparent;
}

.p-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.p-services__item {
  width: auto;
  margin-bottom: 20px;
}

.p-services__top {
  height: 85px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
  min-width: 94px;
}

.p-services__title {
  text-align: center;
  display: block;
  color: #222222;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .3px;
}

.p-services__link {
  display: block;
}

.p-services__link:hover {
  text-decoration: none;
}

.p-choose__top {
  height: 88px;
  display: block;
  width: 100%;
}

.p-choose__img {
  display: inline-block;
}

.p-choose__title {
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.p-choose__description {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 300;
  display: block;
}

.p-wwus {
  padding-top: 40px;
  position: relative;
}

.p-wwus__numb {
  font-size: 100px;
  color: rgba(44, 87, 156, 0.19);
  font-weight: 700;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  line-height: 100%;
  z-index: 1;
}

.p-wwus__content {
  position: relative;
  z-index: 2;
}

.p-wwus__title {
  color: #222222;
  display: block;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.p-wwus__description {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  font-weight: 300;
}

.p-wwus__bottom {
  text-align: center;
  padding-top: 58px;
  position: relative;
}

.p-wwus__bottom::before {
  content: '';
  height: 32px;
  width: 1px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  margin-left: -.5px;
  bottom: 88px;
}

.p-wwus__img {
  display: inline-block;
  height: 70px;
  width: auto;
}

.p-online-page .p-online__input {
  max-width: none;
}

.p-online-page .phone {
  text-align: center;
}

.p-online-page .row {
  margin-left: 5px;
  margin-right: 5px;
}

.p-online-page .col-lg-6, .p-online-page .col-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-online-page .p-online__textarea {
  margin-top: 16px;
  height: 106px;
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding: 14px 28px;
  border-radius: 22px;
  resize: none;
  margin-bottom: 16px;
}

.p-online-page .p-online__textarea::-webkit-input-placeholder {
  color: #222222;
}

.p-online-page .p-online__textarea::-moz-placeholder {
  color: #222222;
}

.p-online-page .p-online__textarea:-moz-placeholder {
  color: #222222;
}

.p-online-page .p-online__textarea:-ms-input-placeholder {
  color: #222222;
}

.p-online-page .p-online__textarea:focus {
  outline: none;
}

.p-online-page .p-online__button {
  max-width: none;
}

.p-online-page .p-online__consent {
  position: static;
  padding-left: 25px;
  padding-top: 7px;
}

.p-model {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.p-model__item {
  width: auto;
  padding-bottom: 80px;
  display: block;
  text-align: center;
}

.p-model__link {
  text-align: center;
  display: inline-block;
}

.p-model__link:hover {
  text-decoration: none;
  opacity: .7;
}

.p-model__top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-model__img {
  display: block;
  max-height: 100%;
  width: auto;
}

.p-model__title {
  color: #222222;
  letter-spacing: .3px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.p-news__sectiontitle {
  font-size: 27px;
  display: block;
  color: #222222;
  padding-bottom: 56px;
  position: relative;
  padding-right: 50px;
}

.p-news__sectiontitle span {
  color: #2c579c;
  font-weight: bold;
}

.p-news__wrapper {
  position: relative;
  min-height: 236px;
  padding-left: 250px;
}

.p-news__left {
  width: 225px;
  height: 236px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.p-news__data {
  display: block;
  padding-left: 18px;
  font-size: 14px;
  color: #999999;
  position: relative;
  margin-bottom: 20px;
}

.p-news__data .fa {
  position: absolute;
  left: 0;
  top: 0;
}

.p-news__title {
  color: #222222;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: .3px;
  display: block;
  margin-bottom: 20px;
}

.p-news__description {
  font-size: 15px;
  color: #222222;
  line-height: 20px;
  display: block;
  font-weight: 300;
  margin-bottom: 20px;
}

.p-news__detal {
  display: inline-block;
  font-size: 15px;
  padding-right: 21px;
  position: relative;
  color: #2c579c;
}

.p-news__detal .fa {
  position: absolute;
  right: 0;
  top: 2px;
}

.p-news__detal:hover {
  text-decoration: none;
  opacity: .7;
}

.p-arrowtrigger {
  width: 49px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 7px;
}

.p-arrowtrigger__left {
  width: 11px;
  height: 19px;
  display: block;
  background-image: url(../img/icons/slider-arrow.png);
  background-position: left center;
}

.p-arrowtrigger__left:hover {
  background-position: right center;
}

.p-arrowtrigger__line {
  height: 19px;
  width: 1px;
  display: block;
  background-color: #e8e8e8;
}

.p-arrowtrigger__right {
  width: 11px;
  height: 19px;
  display: block;
  background-image: url(../img/icons/slider-arrow.png);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  background-position: left center;
}

.p-arrowtrigger__right:hover {
  background-position: right center;
}

.p-articles__item {
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}

.p-articles__wrapper {
  padding-left: 155px;
  position: relative;
  min-height: 88px;
}

.p-articles__left {
  width: 135px;
  position: absolute;
  left: 0;
  top: 0;
  height: 87px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.p-articles .p-news__detal {
  margin-left: 15px;
}

.p-articles__title {
  margin-bottom: 4px;
}

.p-articles__description {
  margin-bottom: 0;
}

.p-articles__wrapperitem .p-articles__item:last-child {
  border: none;
  padding: 0;
  margin: 0;
}

.p-contacts iframe {
  width: 100%;
  height: 470px;
  display: block;
}

.p-contacts-right {
  padding-left: 10px;
}

.p-contacts__item {
  padding-left: 46px;
  margin-bottom: 30px;
  position: relative;
}

.p-contacts__item:last-child {
  margin-bottom: 0;
}

.p-contacts__icon {
  width: 35px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  bottom: 0;
  background-position: center top;
}

.p-contacts__subtitle {
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
}

.p-contacts__description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #222222;
}

.p-contacts__description b {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.p-contacts__callback {
  text-transform: uppercase;
  font-size: 14px;
  color: #2c579c;
  line-height: 20px;
  letter-spacing: 1.5px;
  border-bottom: 1px dashed #2c579c;
}

.p-contacts__callback:hover {
  text-decoration: none;
  color: #2c579c;
  border-color: transparent;
}

.p-join {
  display: inline-block;
}

.p-join::before {
  content: '';
  display: table;
}

.p-join::after {
  content: '';
  display: table;
  clear: both;
}

.p-join span {
  display: block;
  float: left;
  line-height: 40px;
  margin-right: 20px;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 1.5px;
}

.p-join__list {
  font-size: 0;
  display: block;
  float: left;
}

.p-join__item {
  padding: 0 10px;
  display: inline-block;
}

.p-join__item:last-child {
  padding-right: 0;
}

.p-join__link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-your {
  display: inline-block;
}

.p-your span {
  display: block;
  float: left;
  line-height: 40px;
  margin-right: 20px;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 1.5px;
}

.p-your__list {
  font-size: 0;
  display: block;
  float: left;
  margin-top: -4px;
  margin-bottom: -4px;
}

.p-your__item {
  padding: 0 10px;
  display: inline-block;
}

.p-your__item:last-child {
  padding-right: 0;
}

.p-your__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}

.p-your__img {
  display: block;
}

.f-info {
  max-width: 290px;
  width: 100%;
}

.f-info__logo {
  margin-bottom: 14px;
  display: inline-block;
}

.f-info__logoimg {
  display: block;
}

.f-info__text {
  color: #222222;
  line-height: 25px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
}

.f-info__more {
  display: inline-block;
  font-size: 15px;
  padding-right: 21px;
  position: relative;
  color: #2c579c;
}

.f-info__more .fa {
  position: absolute;
  right: 0;
  top: 2px;
}

.f-info__more:hover {
  text-decoration: none;
  opacity: .7;
}

.f-menu__item {
  display: block;
  padding-bottom: 10px;
}

.f-menu__item:last-child {
  padding-bottom: 0;
}

.f-menu__link {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  line-height: 20px;
  color: #222222;
  font-weight: 300;
}

.f-menu__link::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1e1e1e;
  position: absolute;
  left: 0;
  top: 7px;
}

.f-menu__link:hover {
  text-decoration: none;
  color: #2c579c;
}

.f-menu__link:hover::before {
  background-color: #2c579c;
}

.f-addr__list {
  margin-bottom: 25px;
}

.f-addr__item {
  color: #222222;
  line-height: 20px;
  padding-left: 18px;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
}

.f-addr__item .fa {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: block;
  color: #2c579c;
  font-size: 14px;
}

.f-addr__item:last-child {
  margin-bottom: 0;
}

.f-addr__subtitle {
  display: block;
  color: #222222;
  font-weight: 500;
  margin-bottom: 8px;
}

.f-addr__block {
  display: flex;
  justify-content: space-between;
}

.f-addr__blockitem {
  display: inline-block;
}

.f-addr__blockimg {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: block;
  width: 75px;
  height: 75px;
}

.f-copy {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 300;
  display: inline-block;
}

.f-pol {
  display: inline-block;
  color: #2c579c;
  line-height: 20px;
  font-weight: 300;
}

.f-pol:hover {
  text-decoration: none;
  color: #2c579c;
  opacity: .7;
}

.popup {
  background-color: #fff;
  max-width: 350px;
  width: 100%;
  border: 1px solid #2c579c;
  padding: 45px;
}

.popup__title {
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .3px;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.popup__info {
  display: block;
  text-align: center;
  font-weight: 300;
  color: #222222;
  margin-bottom: 20px;
}

.popup .p-online__input {
  width: 100%;
  margin-bottom: 14px;
  max-width: none;
  border: 2px solid #2c579c;
}

.popup .phone {
  text-align: center;
}

.popup .p-online__button {
  max-width: none;
}

.popup .p-online__consent {
  position: static;
  margin-top: 20px;
  width: auto;
  margin-left: -30px;
  margin-right: -30px;
  text-align: center;
}

.popup .p-online__consent label {
  color: #222222;
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
}

.popup .p-online__consent label::before {
  border: 1px solid #d2d2d2;
}
