/*==========  Desktop First Method  ==========*/
@media (max-width: 1499px) {
  .p-stockslider .owl-prev,
  .p-revslider .owl-prev,
  .p-workimg__slider .owl-prev {
    left: -30px;
  }
  .p-stockslider .owl-next,
  .p-revslider .owl-next,
  .p-workimg__slider .owl-next {
    right: -30px;
  }
}

@media (max-width: 1260px) {
  .p-stockslider .owl-prev,
  .p-revslider .owl-prev,
  .p-workimg__slider .owl-prev {
    left: -15px;
  }
  .p-stockslider .owl-next,
  .p-revslider .owl-next,
  .p-workimg__slider .owl-next {
    right: -15px;
  }
}

@media (max-width: 1199px) {
  .h-nav__item {
    margin-left: 30px;
  }
  .p-revslider__item {
    height: 374px;
  }
  .p-newmenu__item {
    margin-right: 25px;
  }
  .p-service__left .p-service__img {
    background-position: right center;
  }
  .p-service__left-new .p-service__img {
    background-position: left center;
  }
}

@media (max-width: 991px) {
  .page__p-online-left {
    margin-right: 0;
  }
  .p-online__info {
    text-align: center;
    padding-bottom: 15px;
  }
  .p-online__input {
    max-width: 34%;
  }
  .page__top {
    height: auto;
  }
  .p-services {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .p-services__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .page__p-wwus {
    padding-bottom: 40px;
  }
  .page__section-bg {
    padding-bottom: 68px;
  }
  .p-online-page .p-online__input {
    margin-bottom: 16px;
  }
  .p-online-page .p-online__textarea {
    margin-top: 0;
  }
  .page__p-online-right {
    padding-top: 20px;
  }
  .page__topline {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(44, 87, 156, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(44, 87, 156, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(44, 87, 156, 0.2);
  }
  .p-model {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .page__p-news {
    padding-right: 0;
    margin-bottom: 56px;
  }
  .p-contacts-right {
    padding-left: 0;
    padding-top: 56px;
  }
  .page__p-your {
    margin-top: 20px;
  }
  .f-addr__block {
    width: 100%;
    max-width: 348px;
  }
  .p-price__form .col-lg-4 {
    margin-bottom: 16px;
  }
  .p-price__form .col-lg-4:last-child {
    margin-bottom: 0;
  }
  .h-logo__img {
    height: 66px;
  }
  .h-nav__item {
    margin-left: 10px;
  }
  .h-nav__link {
    font-size: 12px;
  }
  .h-callback__btn {
    width: 188px;
  }
  .p-services {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .page__wrappertop {
    padding-left: 0;
  }
  .p-revslider__item {
    height: 322px;
  }
  .p-newmenu__link {
    font-size: 14px;
  }
  .page__p-online-right {
    margin-left: 0;
  }
  .page__topline .page__p-online-right {
    padding-top: 0;
  }
  .page__topline {
    position: relative;
    z-index: 2;
  }
  .page__wrappertop {
    padding-bottom: 30px;
    padding-top: 129px;
  }
  .hidden-lg {
    display: none;
  }
  .page__p-online-right-new {
    padding-right: 0;
  }
  .page__p-online-left-new {
    padding-left: 0;
  }
  .page__top-new {
    height: 343px;
  }
  .page__p-articles {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .h-mobnaw {
    display: inline-block;
  }
  .h-mobnaw .fa {
    color: #2c569b;
    font-size: 30px;
    display: block;
  }
  .h-mobnaw:hover {
    text-decoration: none;
  }
  .header__h-nav {
    display: none;
  }
  .h-callback__phone {
    display: none;
  }
  .h-callback__btn {
    width: 44px;
    height: 44px;
    max-width: none;
    font-size: 0;
    border-radius: 50%;
    background-image: url(../img/icons/mob-phone.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .h-callback__btn:hover {
    background-color: #2c579c;
  }
  .h-logo__img {
    height: 55px;
  }
  .header__h-wrapper {
    padding: 13px 0;
  }
  .header__top {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
    position: relative;
  }
  .header__mobmenu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
  }
  .h-mobmenu {
    padding-top: 30px;
    position: relative;
  }
  .h-mobmenu__close {
    position: absolute;
    left: 15px;
    top: 30px;
    z-index: 1;
    display: inline-block;
  }
  .h-mobmenu__close .fa {
    color: #2c569b;
    font-size: 25px;
    display: block;
  }
  .h-mobmenu__close:hover {
    text-decoration: none;
  }
  .h-mobmenu__list {
    padding: 0 15px 28px;
    border-bottom: 2px solid #e1eaf4;
  }
  .h-mobmenu__item {
    display: block;
    text-align: center;
    margin-bottom: 18px;
  }
  .h-mobmenu__item:last-child {
    margin-bottom: 0;
  }
  .h-mobmenu__item-submenu .h-mobmenu__link {
    padding-right: 22px;
    position: relative;
  }
  .h-mobmenu__item-submenu .h-mobmenu__link .fa {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .h-mobmenu__link {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .h-mobmenu__link:hover {
    text-decoration: none;
    color: #2c579c;
  }
  .h-mobmenu__sublist {
    padding-top: 18px;
    display: none;
  }
  .h-mobmenu__subitem {
    text-align: center;
    margin-bottom: 8px;
  }
  .h-mobmenu__subitem:last-child {
    margin-bottom: 0;
  }
  .h-mobmenu__sublink {
    font-size: 15px;
    color: #000000;
    display: inline-block;
  }
  .h-mobmenu__sublink:hover {
    text-decoration: none;
    color: #2c579c;
  }
  .h-mobmenu .h-callback {
    padding-top: 18px;
    padding-bottom: 24px;
    border-bottom: 2px solid #e1eaf4;
  }
  .h-mobmenu .h-callback__phone {
    display: inline-block;
    margin-bottom: 15px;
  }
  .h-mobmenu .h-callback__btn {
    width: 208px;
    height: 44px;
    line-height: 40px;
    max-width: none;
    font-size: 11px;
    border-radius: 20px;
    background-image: none;
    margin-left: auto;
    margin-right: auto;
  }
  .h-mobmenu .p-join {
    display: block;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .h-mobmenu .p-join span {
    display: block;
    width: 100%;
    float: none;
    font-size: 17px;
    color: #222222;
    text-align: center;
  }
  .h-mobmenu .p-join__list {
    float: none;
    width: 100%;
    text-align: center;
  }
  .h-mobmenu .p-join__item {
    padding: 0 10px;
  }
  .page__top {
    background-image: none !important;
    background-color: #ffffff;
  }
  .p-price__title {
    font-size: 20px;
    line-height: 20px;
  }
  .p-price__form {
    padding-left: 25px;
    padding-right: 25px;
  }
  .p-price__form .col-lg-4 {
    margin-bottom: 8px;
  }
  .page__topline {
    position: static;
  }
  .page__top::after {
    display: none;
  }
  .p-advantages {
    flex-wrap: wrap;
  }
  .p-advantages__item {
    width: 100%;
    margin: 0 8px;
  }
  .page__p-advantages {
    margin-top: 34px;
    padding-bottom: 50px;
  }
  .page__p-online-right {
    margin-left: 0;
  }
  .p-online__wrapper {
    display: block;
    width: 100%;
  }
  .p-online__input {
    width: 100%;
    max-width: none;
  }
  .p-online__button {
    max-width: none;
  }
  .p-online__consent {
    position: static;
    width: auto;
    margin: 20px;
  }
  .page__topline {
    padding-bottom: 10px;
  }
  .p-online__input {
    margin-bottom: 8px;
  }
  .page__p-online-right {
    padding-top: 0;
  }
  .p-online__info {
    padding-bottom: 20px;
  }
  .p-online__input.phone {
    text-align: center;
  }
  .page__section-white {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page__p-title {
    padding-bottom: 15px;
  }
  .p-stockslider .owl-nav,
  .p-workimg__slider .owl-nav {
    text-align: center;
    display: block;
    padding-top: 19px;
  }
  .p-stockslider .owl-prev,
  .p-revslider .owl-prev,
  .p-workimg__slider .owl-prev {
    position: relative;
    margin-top: 0;
    left: 0;
    margin-right: 15px;
    display: inline-block;
  }
  .p-stockslider .owl-next,
  .p-revslider .owl-next,
  .p-workimg__slider .owl-next {
    position: relative;
    margin-top: 0;
    display: inline-block;
    right: 0;
    margin-left: 15px;
  }
  .page__section-gray {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .p-title {
    font-size: 20px;
    line-height: 25px;
  }
  .p-services {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  .p-choose {
    padding-left: 60px;
    position: relative;
  }
  .p-choose__top {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;
  }
  .p-choose__top img {
    max-width: 40px;
    max-height: 50px;
    height: auto;
    width: auto;
  }
  .page__p-choose {
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .page__section-bg {
    padding-top: 40px;
    background-image: none !important;
    background-color: #f9f9f9;
  }
  .page__p-wwus {
    padding-top: 30px;
  }
  .page__section-blue {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page__section-blue .page__p-online-left {
    margin-right: 0;
  }
  .p-online-page .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .p-online-page .p-online__input {
    margin-bottom: 8px;
  }
  .p-online-page .p-online__textarea {
    margin-bottom: 8px;
  }
  .p-online-page .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .p-online-page .p-online__consent {
    padding-top: 0;
    padding-left: 0;
  }
  .page__section-blue .page__p-online-right {
    margin-left: 0;
    padding-top: 20px;
  }
  .p-online__text {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .p-online__row {
    padding-bottom: 20px;
  }
  .p-model {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  .p-model__item {
    padding-bottom: 30px;
  }
  .page__p-model {
    margin-bottom: -30px;
  }
  .p-model__more {
    display: block;
    height: 44px;
    width: 208px;
    border-radius: 20px;
    background-color: #2c579c;
    border: 3px solid #2c579c;
    color: #ffffff;
    font-size: 11px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .p-model__more:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .page__p-read {
    padding: 26px 22px;
  }
  .p-news__sectiontitle {
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 25px;
  }
  .p-arrowtrigger {
    top: 0;
  }
  .p-news__left {
    width: 92px;
    height: 110px;
  }
  .p-news__wrapper {
    padding-left: 106px;
    min-height: 110px;
  }
  .p-news__description {
    height: 40px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .p-news__data {
    margin-bottom: 8px;
  }
  .p-news__title {
    margin-bottom: 8px;
  }
  .page__p-news {
    margin-bottom: 30px;
  }
  .hidden-md {
    display: none;
  }
  .p-articles__item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .p-articles__left {
    width: 92px;
    height: 110px;
  }
  .p-articles__wrapper {
    padding-left: 106px;
    min-height: 110px;
  }
  .p-articles__description {
    height: auto;
  }
  .p-articles .p-news__detal {
    margin-left: 0;
  }
  .p-contacts iframe {
    height: 380px;
  }
  .page__section-join {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .p-join span {
    display: block;
    text-align: center;
    float: none;
    margin-right: 0;
  }
  .p-join__item,
  .p-your__item {
    padding: 0 10px !important;
  }
  .p-your span {
    float: none;
    display: block;
    margin-right: 0;
    text-align: center;
    margin-top: 0;
  }
  .footer {
    padding-top: 38px;
    padding-bottom: 25px;
  }
  .f-info__text {
    margin-bottom: 10px;
  }
  .footer__f-menu {
    padding-top: 25px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .footer__f-pol {
    padding-top: 10px;
    text-align: left;
  }
  .f-addr__item .fa {
    transform: none;
    -webkit-transform: none;
    top: 3px;
  }
  .f-addr__blockitem {
    width: 20%;
  }
  .f-addr__blockimg {
    width: 100%;
  }
  .footer__f-copy {
    padding-top: 25px;
  }
  .footer__f-addr {
    padding-top: 25px;
  }
  .footer__title {
    position: relative;
  }
  .footer__title .fa {
    position: absolute;
    right: 0;
    top: -4px;
    font-size: 25px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  .footer__title.active .fa {
    transform: none;
    -webkit-transform: none;
  }
  .f-addr__hidden {
    display: none;
  }
  .page__newmenu {
    display: none;
  }
  .page__p-path {
    padding-top: 0;
  }
  .page__section-white {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .p-path {
    text-align: center;
  }
  .p-service__left {
    position: static;
    width: 100%;
    height: 296px;
    margin-bottom: 20px;
  }
  .p-service__right {
    padding-left: 0;
  }
  .page__section-service {
    padding-top: 0;
  }
  .p-diagnost__form {
    padding-left: 0;
  }
  .p-diagnost__block {
    padding: 25px;
  }
  .p-diagnost__text {
    text-align: center;
  }
  .p-diagnost__form .p-online__consent {
    margin-left: 0;
  }
  .page__section-diagnost {
    margin-bottom: 30px;
  }
  .p-service__right-new .p-service__text {
    text-align: left !important;
  }
  .p-online-page-new .p-online__row {
    padding-bottom: 6px;
  }
  .page__p-online-right-new {
    padding-bottom: 20px;
  }
  .p-online__file {
    margin-bottom: 8px;
  }
  .p-revslider .owl-nav {
    text-align: center;
    padding-top: 19px;
  }
  .p-pricelist__top .p-pricelist__left {
    padding-left: 16px;
    padding-right: 16px;
  }
  .p-pricelist__content {
    padding: 0;
  }
  .p-pricelist__row .p-pricelist__left {
    padding-right: 5px !important;
    padding-left: 16px !important;
  }
  .p-pricelist__row,
  .p-pricelist__top {
    font-size: 14px;
  }
  .p-pricelist__row .p-pricelist__right {
    right: 0;
  }
  .p-pricelist__row {
    border-bottom: none;
    position: relative;
  }
  .p-pricelist__row::after {
    content: '';
    display: block;
    height: 1px;
    width: auto;
    left: 16px;
    right: 16px;
    background-color: #dcdcdc;
    position: absolute;
  }
  .row-work {
    display: none;
  }
  .p-workimg {
    margin-bottom: 0;
  }
  .page__p-serinfo {
    padding: 30px 0;
  }
  .p-serinfo__title,
  .p-serinfo__description {
    font-size: 16px;
    line-height: 20px;
  }
  .p-serinfo {
    padding: 24px 18px;
  }
  .p-serinfo__wp {
    display: block;
    margin-top: 16px;
  }
  .p-serinfo .p-online__input {
    max-width: none;
  }
  .p-serinfo .p-online__button {
    max-width: none;
  }
  .p-serinfo__form .p-online__consent {
    margin: 0;
    text-align: left;
  }
  .page__section-info {
    background-image: none !important;
    background-color: #f9f9f9;
  }
  .p-articles__top {
    height: 230px;
  }
  .page__p-pagetitle {
    position: static;
  }
  .p-pagetitle {
    font-size: 20px;
  }
  .page__top-new {
    height: auto;
    padding-top: 86px;
  }
}

@media (max-width: 479px) {
  .p-pricelist__row .p-pricelist__right {
    width: 40%;
  }
  .p-pricelist__row {
    padding-right: 40%;
  }
  .p-pricelist__top {
    padding-right: 40%;
  }
  .p-pricelist__top .p-pricelist__right {
    width: 40%;
  }
}

/*==========  Mobile First Method  ==========*/
@media (min-width: 768px) {
  .header__h-mobnaw {
    display: none;
  }
  .header__mobmenu {
    display: none;
  }
  .p-model__more {
    display: none;
  }
  .visible-md {
    display: none;
  }
}
